*
{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body
{
    display: flex;
    flex-direction: column;
}

.hero
{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 24px 250px;
}

.header
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

ul
{
    list-style: none;
    display: flex;
    gap: 30px;
}

ul a
{
    text-decoration: none;
}

.hero-content
{
    display: flex;
    margin-bottom: 50px;
    gap: 70px;
}

.hero-message
{
    flex-direction: column;
    padding: 16px 0;
}

.hero-message h2, .hero-message p
{
    margin-bottom: 8px;
}

.hero-image
{
    border: black;
    background: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 1200px;
}

.hero h2
{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p, .header a
{
    font-size: 18px;
    color: #E5E7EB;
}

.hero h1
{
    font-size: 24px;
    color: #F9FAF8;
}

.hero button
{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 30px;
    font-weight: bold;
    border-radius: 15%;
}

.content
{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
    margin-bottom: 20px;
}

.information h2
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards
{
    display: flex;
    gap: 50px;
}

.card
{
    display: flex;
    flex-direction: column;
    width: 130px;
    text-align: center;
    gap: 8px;
}

.image
{
    border: solid #3882F6;
    border-radius: 10%;
    height: 120px;
}

.quote-message
{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 275px;
}

.quote-message .quote
{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-message .author
{
    align-self: flex-end;
    font-weight: bold;
    margin-right: 30px;
}

.sign-up
{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container
{
    background-color: #3882F6;
    border-radius: 5%;
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding: 50px 100px;
}

.sign-up-information h2, .sign-up-information p
{
    color: #F9FAF8;
}

.sign-up-container button
{
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    padding: 0 40px;
    font-weight: bold;
    border-radius: 15%;
}

.footer
{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #F9FAF8;
}